<% provide(:title, "Mentor Mentee Selection") %>

<h1>Information Sources</h1>

<ul>
    <li>Housing</li>
    <li>Education</li>
    <li>Transportation</li>
    <li>Citizenship</li>
    <li>Travel</li>
    <li>Shopping</li>
    <li>Career</li>
</ul>