<% provide(:title, "Register") %>

<h1 style="text-align: center;">Register</h1>
<h3 style="text-align: center;">I want to be a ... </h3>

<br><br><br>
<form action="" method="post" style="margin: 0 auto;">
  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"><br>
  Age: <input type="text" name="age"><br>
  Zip Code: <input type="text" name="zip"><br>
  Country Of Origin: <input type="text" name="coo"><br>
  Goals: <textarea rows="8" cols="50" name="goals"></textarea></br>
  Languages Spoken: <input type="text" name="languages"><br>
  Bio: <textarea rows="8" cols="50" name="bio"></textarea><br>
  <input type="submit" value="Submit">
</form>
